/project/db-data/
# Archivos y carpetas de Go
*.test
*.out
/vendor/
/go.work


# Archivos del sistema
.DS_Store
.env

# Carpetas de IDE
.idea/
.vscode/
*.swp

# Archivos ejecutables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos binarios específicos del proyecto
**/bin/
**/build/