/project/db-data/
# Archivos y carpetas de Go
*.test
*.out
/vendor/
/go.work


# Archivos del sistema
.DS_Store
.env

# Carpetas de IDE
.idea/
.vscode/
*.swp

# Archivos ejecutables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos binarios específicos del proyecto
**/bin/
**/build/
/authentication-service/authApp
/broker-service/brokerApp
/logger-service/loggerApp
/listener-service/listenerApp
/mailer-service/mailerApp
/mail-service/mailApp
/front-end/frontApp
/logger-service/loggerServiceApp
/mail-service/mailerApp
